.main-footer {
  /*width: 320px;*/
  min-height: 160px;
  margin: 0 auto;

  background-color: #f1f1f1;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

.main-footer__logo {
  display: none;
}

.social {
  border-bottom: 1px solid #e5e5e5;
}

.social,
.copyright {
  min-height: 79.5px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 auto;
  padding: 22.5px 0;

  width: 155px;
  min-height: 35px;
  list-style: none;
}

.social__link {
  display: block;
  text-decoration: none;
  font-size: 1px;
  color: rgba(0, 0, 0, 0);

  width: 32px;
  height: 32px;
}

.social__link--inst {
  background-image: url('../../img/insta.svg');
  background-repeat: no-repeat;
  background-position: center;
  &:hover,
  &:focus {
    background-image: url('../../img/instahover.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  &:active {
    opacity: 0.3;
  }
}

.social__link--fb {
  background-image: url('../../img/fb.svg');
  background-repeat: no-repeat;
  background-position: center;
  &:hover,
  &:focus {
    background-image: url('../../img/fbhover.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  &:active {
    opacity: 0.3;
  }
}

.social__link--tw {
  background-image: url('../../img/tw.svg');
  background-repeat: no-repeat;
  background-position: center;
  &:hover,
  &:focus {
    background-image: url('../../img/twhover.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  display: block;
  position: relative;
  padding: 20px 0;
  margin: 10px auto;
  width: 185px;

  font-size: 19px;
  line-height: 18px;
  font-weight: 700px;
  color: $title-color;
  text-decoration: none;
  .copyright__icon {
    display: block;
    position: absolute;
    margin-left: auto;
    width: 27px;
    height: 34px;

    right: 0;
    top: 12px;

    font-size: 1px;
    color: rgba(0, 0, 0, 0);

    background-image: url('../../img/htmlacademy.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover .copyright__icon,
  &:focus .copyright__icon {
    background-image: url('../../img/htmlacademy-hover.png');
  }
  &:active .copyright__icon,
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-footer {
    /*width: 768px;*/
    min-height: 143px;
  }

  .main-footer__wrapper {
    flex-direction: row;
    justify-content: flex-start;
    width: 668px;
    padding: 50px 50px 0 50px;
  }

  .main-footer__logo {
    display: block;
  }

  .main-footer__logo--link {
    display: block;
    width: 110px;
    min-height: 45px;

    background: url('../../img/logo-footer.svg') center no-repeat;
    &:hover,
    &:focus {
      background: url('../../img/logo-footer-hover.svg') center no-repeat;
    }
    &:active {
      opacity: 0.3;
    }
  }

  .social {
    margin-left: 150px;
    width: 156px;
    min-height: 52px;
    border: none;
  }

  .social__list {
    padding: 10px 0 0 0;
  }

  .copyright {
    margin-left: auto;
    width: 195px;
    min-height: 52px;
  }

  .copyright__link {
    padding: 5px 0 0 0;
    .copyright__icon {
      top: -3px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    width: 1050px;
    padding: 50px 50px 0 50px;
  }

  .social {
    margin-left: 335px;
  }
}
