.menu {
  min-height: 489px;
  margin: 0 auto;
  background-color: #f9f9f9;
  background-image: url('../img/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center -15px;
}

.menu__wrapper {
  width: 320px;
  margin: 0 auto;
}

.menu-title {
  display: block;
  margin: 0 auto;

  padding-top: 75px;

  min-height: 105px;
  width: 245px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;

  text-align: center;
}

.menu__list{
  margin: 0;
  padding: 103px 0 0 0;
  list-style: none;


  width: 100%;
}

.menu__item {
  min-height: 103px;
  width: 100%;
}

.menu__link{
  display: block;

  padding: 28px 182px 28px 30px;
  min-height: 47px;
  width: 108px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.menu__link--interior {
  position: relative;
  background-color: #63d1bb;
  &:hover,
  &:focus {
    background-color: #59d5bc;
    &::after{
      opacity: 0.7;
    }
  }
  &:active {
    color: #6ed9c3;
    &::after{
      opacity: 0.3;
    }
  }

  &::after {
    content: '';
    position: absolute;

    width: 45px;
    height: 65px;

    top: 20px;
    right: 30px;

    background-image: url('../img/interior.svg');
    background-repeat: no-repeat;
    background-position: center center;

    opacity: 0.5;
  }
}

.menu__link--toys {
  position: relative;
  background-color: #56c3b2;
  &:hover,
  &:focus {
    background-color: #46c1ae;
    &::after{
      opacity: 0.7;
    }
  }
  &:active {
    color: #6ed9c3;
    &::after{
      opacity: 0.3;
    }
  }

  &::after {
    content: '';
    position: absolute;

    width: 68px;
    height: 58px;

    top: 20px;
    right: 20px;

    background-image: url('../img/toy.svg');
    background-repeat: no-repeat;
    background-position: center center;

    opacity: 0.5;
  }
}

@media (min-width: $tablet-width) {
  .menu {
    height: 733px; //либо больше, из-за волны (декор жэлемента)
    /*width: 768px;*/
    background-image: url('../img/hero-desktop.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
  }

  .menu__wrapper {
    width: 668px;
    margin: 0 auto;
  }

  .menu-title {
    min-height: 105px;
    width: 500px;
    padding-top: 160px;

    font-size: 43px;
    line-height: 50px;
  }

  .menu__list {
    display: flex;
    flex-wrap: wrap;

    padding-top: 365px;
  }

  .menu__item {
    width: 334px;
  }

  .menu__link {
    padding: 28px 196px 28px 30px;
  }
}

@media (min-width: $desktop-width) {
  .menu {
    /*width: 1250px;*/
    background-position: center 0;
  }

  .menu__wrapper {
    width: 1050px;
  }

  .menu-title {
    min-height: 135px;
    width: 610px;

    font-size: 53px;
    line-height: 57px;
  }

  .menu__list {
    padding-top: 335px;
  }

  .menu__item {
    width: 525px;
  }
  .menu__link {
    padding: 28px 387px 28px 30px;
  }
}
