@charset "UTF-8";
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px; }

.main-header__wrapper {
  /*width: 320px;*/
  /*padding: 0 30px;*/
  margin: 0 auto; }

.main-header__list {
  margin: 0;
  padding: 0;
  min-height: 395px;
  list-style: none; }

.main-header__item {
  min-height: 78px;
  border-bottom: 1px solid #ececec; }

.main-header__item--delivery,
.main-header__item--new,
.main-header__item--sale {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px; }

/*ниже стилитолько для ссылок*/
.main-header__link {
  display: block;
  margin: 0 auto;
  padding: 26px 0 0 0;
  width: 200px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none; }
  .main-header__link:hover, .main-header__link:focus {
    opacity: 0.6; }
  .main-header__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .main-header {
    /*width: 768px;*/
    height: 88px;
    margin: 0 auto;
    border-bottom: 1px solid #ececec; }
  .main-header__wrapper {
    width: 668px;
    padding: 0 50px; }
  .main-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 150px; }
  .main-header__item {
    min-height: 88px;
    border: none; }
  .main-header__item--logo {
    -webkit-box-ordinal-group: -2;
    -ms-flex-order: -3;
    order: -3;
    width: 320px; }
  .main-header__item--catalog {
    min-height: 62px;
    width: 167px; }
  .main-header__item--order {
    min-height: 62px;
    width: 167px; }
  .main-header__item--search {
    width: 83px;
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2; }
  .main-header__item--basket {
    width: 264px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .main-header__item--delivery {
    position: static;
    margin-left: auto;
    min-height: 62px;
    width: 265px; }
  .main-header__delivery {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400; }
  .main-header__link {
    padding: 0;
    width: auto; } }

@media (min-width: 1150px) {
  .main-header {
    /*width: 1250px;*/ }
  .main-header__wrapper {
    width: 1050px;
    padding: 0 50px; }
  .main-header__list {
    width: 1050px; }
  .main-header__item--catalog {
    -webkit-box-ordinal-group: -9;
    -ms-flex-order: -10;
    order: -10;
    width: 225px; }
  .main-header__item--logo {
    width: 150px; }
  .main-header__item--order {
    -webkit-box-ordinal-group: -8;
    -ms-flex-order: -9;
    order: -9;
    width: 225px; }
  .main-header__item--basket {
    /*margin-left: auto;*/ }
  .main-header__item--search {
    margin-left: auto; }
  .main-header__item--new,
  .main-header__item--sale {
    position: static;
    min-height: 62px;
    width: 225px; }
  .main-header__link--new,
  .main-header__link--sale {
    font-size: 15px;
    line-height: 24px; } }

.menu {
  min-height: 489px;
  width: 320px;
  margin: 0 auto;
  background-color: #f9f9f9;
  background-image: url("../../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 -15px;
  /*background-size: 100%;*/ }

.menu-title {
  display: block;
  margin: 0 auto;
  padding-top: 75px;
  min-height: 105px;
  width: 245px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center; }

.menu__list {
  margin: 0;
  padding: 103px 0 0 0;
  list-style: none;
  width: 100%; }

.menu__item {
  min-height: 103px;
  width: 100%; }

.menu__link {
  display: block;
  min-height: 103px;
  width: 100%;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none; }

.menu__link--interior {
  background-color: #63d1bb; }
  .menu__link--interior:hover, .menu__link--interior:focus {
    background-color: #59d5bc; }
  .menu__link--interior:active {
    color: #6ed9c3; }

.menu__link--toys {
  background-color: #56c3b2; }
  .menu__link--toys:hover, .menu__link--toys:focus {
    background-color: #46c1ae; }
  .menu__link--toys:active {
    color: #6ed9c3; }

@media (min-width: 768px) {
  .menu {
    height: 733px;
    width: 768px;
    background-image: url("../../img/hero-desktop.jpg");
    background-position: 0 0; }
  .menu__wrapper {
    width: 668px;
    margin: 0 auto; }
  .menu-title {
    min-height: 105px;
    width: 500px;
    padding-top: 160px;
    font-size: 43px;
    line-height: 50px; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 365px; }
  .menu__item {
    width: 334px; } }

@media (min-width: 1150px) {
  .menu {
    width: 1250px;
    background-position: center 0; }
  .menu__wrapper {
    width: 1050px; }
  .menu-title {
    min-height: 135px;
    width: 610px;
    font-size: 53px;
    line-height: 57px; }
  .menu__list {
    padding-top: 335px; }
  .menu__item {
    width: 525px; } }

.product-week {
  width: 320px;
  min-height: 820px;
  margin: 0 auto; }

.product-week__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

.product-week__title {
  margin: 25px 0 0 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }
  .product-week__title span {
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #63d1bb; }

.product-week__description {
  margin: 25px 0 0 0; }

.product-week__options {
  margin: 25px 0 0 0;
  line-height: 20px;
  border-collapse: collapse;
  width: 100%; }
  .product-week__options tr {
    border-bottom: 1px solid #ececec; }
  .product-week__options td {
    padding: 10px 0; }

.product-week__image {
  margin: 28px 0 0 0;
  height: 315px;
  background-image: url("../../img/triple-set-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.product-week__price {
  margin: 0;
  padding: 25px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center; }

.product-week__button {
  width: 100%;
  height: 48px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #000000; }
  .product-week__button:hover, .product-week__button:focus {
    color: #ffffff;
    background-color: #444444;
    border-color: #444444; }
  .product-week__button:active {
    color: #7c7c7c; }

@media (min-width: 768px) {
  .product-week {
    width: 768px;
    min-height: 620px; }
  .product-week__wrapper {
    width: 668px;
    padding: 0 50px; }
  .product-week__title {
    margin: 50px 0 0 0;
    font-size: 43px;
    line-height: 50px; }
    .product-week__title span {
      display: inline-block;
      line-height: 17px;
      text-align: center;
      margin-left: 145px;
      width: 80px;
      height: 35px; }
  .product-week__description {
    font-size: 17px;
    line-height: 30px; }
  .product-week__flexcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 57px;
    height: 404px;
    width: 100%; }
  .product-week__image {
    margin: 0;
    height: 404px;
    width: 334px;
    background-image: url("../../img/triple-set-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .product-week__flexelement--info {
    width: 291px;
    height: 238px; }
  .product-week__description {
    margin: 0; }
  .product-week__flexelement--submit {
    margin-top: -122px;
    width: 291px; }
  .product-week__price {
    font-size: 20px; } }

@media (min-width: 1150px) {
  .product-week {
    width: 1250px;
    min-height: 800px; }
  .product-week__wrapper {
    width: 1050px;
    padding: 0 50px; }
  .product-week__title {
    position: absolute;
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px; }
    .product-week__title span {
      margin-left: -630px; }
  .product-week__options {
    margin: 50px 0 0 0; }
  .product-week__image {
    width: 525px;
    height: 636px;
    background-image: url("../../img/triple-set-desktop.jpg"); }
  .product-week__flexelement--info {
    margin-top: 160px;
    margin-left: 175px; }
  .product-week__flexelement--submit {
    margin-left: 175px; } }

.about-us {
  min-height: 833px;
  width: 320px;
  margin: 0 auto; }

.about-us__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

.about-us__title {
  margin: 20px 0 0 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.about-us__list {
  padding: 0;
  list-style: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000; }

.about-us__item {
  width: 100%;
  min-height: 131px; }
  .about-us__item p {
    margin: 0; }

@media (min-width: 768px) {
  .about-us {
    width: 768px;
    min-height: 655px; }
  .about-us__wrapper {
    width: 668px;
    padding: 0 50px; }
  .about-us__title {
    margin: 0;
    font-size: 43px;
    line-height: 50px; }
  .about-us__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 40px; }
  .about-us__item {
    margin-top: 20px;
    width: 50%;
    min-height: 155px; }
    .about-us__item p {
      margin: 0;
      font-size: 20px;
      line-height: 22px; } }

@media (min-width: 1150px) {
  .about-us {
    width: 1250px;
    min-height: 690px; }
  .about-us__wrapper {
    width: 1050px;
    padding: 0 50px; }
  .about-us__title {
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px; }
  .about-us__list {
    margin-left: 175px;
    width: 650px; } }

.reviews {
  min-height: 630px;
  width: 320px;
  margin: 0 auto; }

.reviews__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

.reviews-title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.reviews__list {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none; }

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 345px; }

.reviews__name {
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700; }

.reviews__id {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-decoration: none; }
  .reviews__id:hover, .reviews__id:focus {
    color: #63d1bb; }
  .reviews__id:active {
    opacity: 0.5; }

.reviews__text {
  margin: 0;
  line-height: 30px; }

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0 0 0;
  width: 100%;
  height: 52px; }

.slider__button {
  padding: 0;
  width: 50%;
  height: 100%;
  border: none; }

.reviews__button {
  display: block;
  margin: 30px 0 0 0;
  padding: 12px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #000000; }
  .reviews__button:hover, .reviews__button:focus {
    color: #ffffff;
    background-color: #444444;
    border-color: #444444; }
    .reviews__button:hover:active, .reviews__button:focus:active {
      color: #7c7c7c; }

@media (min-width: 768px) {
  .reviews {
    width: 768px;
    min-height: 525px;
    background-image: url("../../img/review.jpg");
    background-repeat: no-repeat; }
  .reviews__wrapper {
    width: 668px;
    padding: 0 50px; }
  .reviews-title {
    display: block;
    padding: 80px 0 0 0;
    width: 180px;
    min-height: 55px;
    font-size: 43px;
    line-height: 50px; }
  .reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    min-height: 240px; }
  .reviews__name {
    display: block;
    width: 260px;
    min-height: 60px;
    font-size: 19px; }
  .reviews__text {
    margin: 15px 0 0 0;
    font-size: 17px; }
  .slider__buttons {
    margin: -55px 0 0 auto;
    width: 167px;
    height: 55px; }
  .reviews__button {
    margin: -325px 0 0 auto;
    padding: 13px 0;
    width: 174px; } }

@media (min-width: 1150px) {
  .reviews {
    width: 1250px;
    background-image: none; }
  .reviews__wrapper {
    width: 1058px;
    min-height: 525px;
    padding: 0 50px;
    background-image: url("../../img/review.jpg");
    background-repeat: no-repeat; }
  .reviews-title {
    margin-left: 175px; }
  .reviews__item {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 175px;
    min-height: 184px; }
  .reviews__name {
    margin-top: -30px; }
  .reviews__text {
    margin: 0; }
  .reviews__button {
    margin: -270px 0 0 auto;
    padding: 13px 0;
    width: 174px; } }

.contacts {
  width: 320px;
  min-height: 900px;
  margin: 0 auto; }

.contacts__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

.contacts__title {
  margin: 0;
  padding: 55px 0 15px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.contacts__table {
  line-height: 30px; }
  .contacts__table td {
    padding: 12px 0;
    vertical-align: top; }
  .contacts__table .contacts__table--maillink,
  .contacts__table .contacts__table--adress {
    padding-left: 30px; }
  .contacts__table a {
    color: #444444;
    text-decoration: none;
    border-bottom: 1px solid #62d1ba; }
    .contacts__table a:hover, .contacts__table a:focus {
      color: #46c1ae;
      border-bottom: 1px solid #46c1ae; }
    .contacts__table a:active {
      opacity: 0.3; }

.contacts__map {
  margin-top: -540px;
  min-height: 457px;
  background-image: url("../../img/map-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 0; }

.contacts__button {
  display: block;
  margin: 510px 0 0 0;
  padding: 12px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #000000; }
  .contacts__button:hover, .contacts__button:focus {
    color: #ffffff;
    background-color: #444444;
    border-color: #444444; }
    .contacts__button:hover:active, .contacts__button:focus:active {
      color: #7c7c7c; }

@media (min-width: 768px) {
  .contacts {
    width: 768px;
    min-height: 945px; }
  .contacts__wrapper {
    width: 668px;
    padding: 0 50px; }
  .contacts__title {
    margin: 0 0 30px 0;
    padding: 55px 0 0 0;
    font-size: 43px;
    line-height: 50px; }
  .contacts__table {
    width: 100%;
    font-size: 17px;
    line-height: 30px; }
    .contacts__table tbody {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .contacts__table tr {
      width: 300px; }
  .contacts__map {
    margin-top: -570px;
    background-image: url("../../img/map-tablet.png"); }
  .contacts__button {
    width: 226px;
    margin: 570px auto 0 auto; } }

@media (min-width: 1150px) {
  .contacts {
    width: 1250px;
    min-height: 660px; }
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 100px auto 0 auto;
    width: 1050px;
    padding: 0 50px; }
  .contacts__title {
    display: block;
    margin-left: 175px;
    width: 265px;
    font-size: 53px;
    line-height: 57px; }
  .contacts__table {
    margin-left: 175px;
    width: 305px; }
    .contacts__table tbody {
      display: table; }
  .contacts__map {
    display: none; }
  .contacts__map--desktop {
    width: 525px;
    height: 457px;
    background-image: url("../../img/map-desktop.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .contacts__button {
    width: 226px;
    margin: 90px 0 0 175px; } }

.main-footer {
  width: 320px;
  min-height: 160px;
  margin: 0 auto;
  background-color: #f1f1f1; }

.main-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

.main-footer__logo {
  display: none; }

.social,
.copyright {
  min-height: 80px; }

.social__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .social__list a {
    text-decoration: none;
    color: #000000; }

.copyright__link {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700px;
  color: #000000;
  text-decoration: none; }
  .copyright__link .copyright__icon {
    color: #63d1bb;
    text-decoration: none; }
  .copyright__link:hover .copyright__icon,
  .copyright__link:focus .copyright__icon {
    color: #46c1ae; }
  .copyright__link:active .copyright__icon, .copyright__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .main-footer {
    width: 768px;
    min-height: 143px; }
  .main-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 668px;
    padding: 50px 50px 0 50px; }
  .main-footer__logo {
    display: block;
    width: 105px;
    min-height: 52px; }
  .social {
    margin-left: 150px;
    width: 156px;
    min-height: 52px; }
  .copyright {
    margin-left: auto;
    width: 195px;
    min-height: 52px; } }

@media (min-width: 1150px) {
  .main-footer {
    width: 1250px; }
  .main-footer__wrapper {
    width: 1050px;
    padding: 50px 50px 0 50px; }
  .social {
    margin-left: 335px; } }
