@charset "UTF-8";
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  background-color: #ffffff; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px; }

.main-header__wrapper {
  width: 320px;
  margin: 0 auto; }

.main-header__nav {
  position: relative; }

.main-header__toggle {
  position: absolute;
  right: 28px;
  top: 28px;
  display: block;
  border: none;
  width: 23px;
  height: 23px;
  z-index: 2;
  cursor: pointer;
  outline: none;
  background: #ffffff; }

.main-header__nav--opened .main-header__toggle::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  right: 0;
  top: 0;
  z-index: 3;
  background: url("../../img/menu-close.svg") center no-repeat; }

.main-header__nav--closed .main-header__toggle::after {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  right: 0;
  top: 0;
  z-index: 4;
  background: url("../../img/menu-burger.svg") center no-repeat; }

.main-header__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-header__item {
  position: relative;
  min-height: 78px;
  border-bottom: 1px solid #ececec; }

.main-header__item--delivery,
.main-header__item--new,
.main-header__item--sale {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px; }

.main-header__item--logo {
  border: none; }

.main-header__item--catalog {
  border-top: 1px solid #ececec; }

/*ниже стилитолько для ссылок*/
.main-header__link {
  display: block;
  margin: 0 auto;
  padding: 26px;
  width: 175px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none; }
  .main-header__link:hover, .main-header__link:focus {
    color: rgba(0, 0, 0, 0.5); }
  .main-header__link:active {
    opacity: 0.3; }

.main-header__link--search-svg,
.main-header__link--basket-svg {
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  left: 28px;
  top: 27px;
  opacity: 0.2; }
  .main-header__link--search-svg path,
  .main-header__link--basket-svg path {
    fill: #000000; }

.main-header__link:hover > .main-header__link--search-svg,
.main-header__link:focus > .main-header__link--search-svg,
.main-header__link:hover > .main-header__link--basket-svg,
.main-header__link:focus > .main-header__link--basket-svg {
  opacity: 1; }
  .main-header__link:hover > .main-header__link--search-svg path,
  .main-header__link:focus > .main-header__link--search-svg path,
  .main-header__link:hover > .main-header__link--basket-svg path,
  .main-header__link:focus > .main-header__link--basket-svg path {
    fill: #63d1bb; }

.main-header__link:active ~ .main-header__link--search-svg,
.main-header__link:active ~ .main-header__link--basket-svg {
  opacity: 0.3; }

.main-header__link--logo {
  display: block;
  /*width: 100px;*/
  height: 44px;
  padding: 16px;
  margin: 0 auto;
  background-image: url("../../img/mishka-logo-mobile.svg");
  background-repeat: no-repeat;
  background-position: center center; }
  .main-header__link--logo:hover, .main-header__link--logo:focus {
    opacity: 0.6; }
  .main-header__link--logo:active {
    opacity: 0.3; }

@media (max-width: 767px) {
  .main-header__nav--closed .main-header__item {
    display: none; }
    .main-header__nav--closed .main-header__item--logo {
      display: block; }
  .main-header__nav--nojs .main-header__toggle {
    display: none; }
  .main-header__nav--nojs .main-header__item {
    display: block; } }

@media (min-width: 768px) {
  .main-header {
    /*width: 768px;*/
    height: 88px;
    margin: 0 auto;
    border-bottom: 1px solid #ececec; }
  .main-header__wrapper {
    width: 668px;
    padding: 0 50px; }
  .main-header__toggle {
    display: none; }
  .main-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 150px; }
  .main-header__item {
    min-height: 88px;
    border: none; }
  .main-header__item--logo {
    -webkit-box-ordinal-group: -2;
    -ms-flex-order: -3;
    order: -3;
    width: 320px; }
  .main-header__item--catalog {
    min-height: 62px;
    width: 167px; }
  .main-header__item--order {
    min-height: 62px;
    width: 167px; }
  .main-header__item--search {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    width: 81px;
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2; }
  .main-header__item--basket {
    width: 264px;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; }
  .main-header__item--delivery {
    position: static;
    margin-left: auto;
    min-height: 62px;
    width: 265px; }
  .main-header__delivery {
    margin: 20px 0 0 35px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400; }
  .main-header__link {
    padding: 0;
    width: auto; }
  .main-header__link--logo {
    width: 115px;
    height: 50px;
    margin: 15px auto 0 0;
    background-image: url("../../img/mishka-logo-tablet.svg"); }
  .main-header__link--search {
    height: 32px;
    width: 32px;
    margin: 26px auto 0 auto;
    font-size: 1px;
    color: rgba(0, 0, 0, 0); }
    .main-header__link--search:hover, .main-header__link--search:focus, .main-header__link--search:active {
      color: rgba(0, 0, 0, 0); }
  .main-header__link--basket {
    width: 185px;
    height: 25px;
    margin: 31px 0 0 auto;
    padding-left: 55px; }
  .main-header__link--search-svg,
  .main-header__link--basket-svg {
    left: 30px;
    top: 30px; }
  .main-header__link--catalog,
  .main-header__link--order {
    font-size: 15px;
    margin: 20px 0 0 0;
    width: 145px; } }

@media (min-width: 1150px) {
  .main-header__wrapper {
    width: 1050px;
    padding: 0 50px; }
  .main-header__toggle {
    display: none; }
  .main-header__list {
    width: 1050px; }
  .main-header__item--catalog {
    -webkit-box-ordinal-group: -9;
    -ms-flex-order: -10;
    order: -10;
    width: 225px; }
  .main-header__item--logo {
    width: 150px; }
  .main-header__item--order {
    -webkit-box-ordinal-group: -8;
    -ms-flex-order: -9;
    order: -9;
    width: 225px; }
  .main-header__item--search {
    margin-left: auto; }
  .main-header__item--new,
  .main-header__item--sale {
    position: static;
    min-height: 62px;
    width: 225px; }
  .main-header__link--new,
  .main-header__link--sale {
    margin: 20px 0 0 0;
    font-size: 15px;
    line-height: 24px; }
  .main-header__link--catalog,
  .main-header__link--order {
    font-size: 17px;
    margin: 31px 0 0 0;
    width: 145px; } }

.menu {
  min-height: 489px;
  /*width: 320px;*/
  margin: 0 auto;
  background-color: #f9f9f9;
  background-image: url("../../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -15px;
  /*background-size: 100%;*/ }

.menu__wrapper {
  width: 320px;
  margin: 0 auto; }

.menu-title {
  display: block;
  margin: 0 auto;
  padding-top: 75px;
  min-height: 105px;
  width: 245px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center; }

.menu__list {
  margin: 0;
  padding: 103px 0 0 0;
  list-style: none;
  width: 100%; }

.menu__item {
  min-height: 103px;
  width: 100%; }

.menu__link {
  display: block;
  padding: 28px 182px 28px 30px;
  min-height: 47px;
  width: 108px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none; }

.menu__link--interior {
  position: relative;
  background-color: #63d1bb; }
  .menu__link--interior:hover, .menu__link--interior:focus {
    background-color: #59d5bc; }
    .menu__link--interior:hover::after, .menu__link--interior:focus::after {
      opacity: 0.7; }
  .menu__link--interior:active {
    color: #6ed9c3; }
    .menu__link--interior:active::after {
      opacity: 0.3; }
  .menu__link--interior::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 65px;
    top: 20px;
    right: 30px;
    background-image: url("../../img/interior.svg");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5; }

.menu__link--toys {
  position: relative;
  background-color: #56c3b2; }
  .menu__link--toys:hover, .menu__link--toys:focus {
    background-color: #46c1ae; }
    .menu__link--toys:hover::after, .menu__link--toys:focus::after {
      opacity: 0.7; }
  .menu__link--toys:active {
    color: #6ed9c3; }
    .menu__link--toys:active::after {
      opacity: 0.3; }
  .menu__link--toys::after {
    content: '';
    position: absolute;
    width: 68px;
    height: 58px;
    top: 20px;
    right: 20px;
    background-image: url("../../img/toy.svg");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5; }

@media (min-width: 768px) {
  .menu {
    height: 733px;
    /*width: 768px;*/
    background-image: url("../../img/hero-desktop.jpg");
    background-position: center 0;
    background-repeat: no-repeat; }
  .menu__wrapper {
    width: 668px;
    margin: 0 auto; }
  .menu-title {
    min-height: 105px;
    width: 500px;
    padding-top: 160px;
    font-size: 43px;
    line-height: 50px; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 365px; }
  .menu__item {
    width: 334px; }
  .menu__link {
    padding: 28px 196px 28px 30px; } }

@media (min-width: 1150px) {
  .menu {
    /*width: 1250px;*/
    background-position: center 0; }
  .menu__wrapper {
    width: 1050px; }
  .menu-title {
    min-height: 135px;
    width: 610px;
    font-size: 53px;
    line-height: 57px; }
  .menu__list {
    padding-top: 335px; }
  .menu__item {
    width: 525px; }
  .menu__link {
    padding: 28px 387px 28px 30px; } }

.product-week {
  min-height: 820px;
  margin: 0 auto;
  background-image: url("../../img/zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom; }

.product-week__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

.product-week__title {
  margin: 25px 0 0 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }
  .product-week__title span {
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #63d1bb; }

.product-week__description {
  margin: 25px 0 0 0; }

.product-week__options {
  margin: 25px 0 0 0;
  line-height: 20px;
  border-collapse: collapse;
  width: 100%; }
  .product-week__options tr {
    border-bottom: 1px solid #ececec; }
  .product-week__options td {
    padding: 10px 0; }

.product-week__image {
  margin: 28px 0 0 0;
  height: 315px;
  background-image: url("../../img/triple-set-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.product-week__price {
  margin: 0;
  padding: 25px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center; }

.product-week__button {
  width: 100%;
  height: 48px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #000000; }
  .product-week__button:hover, .product-week__button:focus {
    color: #ffffff;
    background-color: #444444;
    border-color: #444444; }
  .product-week__button:active {
    color: #7c7c7c; }

.product-week__zigzag--top {
  display: none; }

@media (min-width: 768px) {
  .product-week {
    min-height: 640px; }
  .product-week__wrapper {
    width: 668px;
    padding: 0 50px; }
  .product-week__title {
    margin: 30px 0 0 0;
    font-size: 43px;
    line-height: 50px; }
    .product-week__title span {
      display: inline-block;
      line-height: 17px;
      text-align: center;
      margin-left: 145px;
      width: 80px;
      height: 35px; }
  .product-week__description {
    font-size: 17px;
    line-height: 30px; }
  .product-week__flexcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 57px;
    height: 404px;
    width: 100%; }
  .product-week__image {
    margin: 0;
    height: 404px;
    width: 334px;
    background-image: url("../../img/triple-set-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .product-week__flexelement--info {
    width: 291px;
    height: 238px; }
  .product-week__description {
    margin: 0; }
  .product-week__flexelement--submit {
    margin-top: -122px;
    width: 291px; }
  .product-week__price {
    font-size: 20px; }
  .product-week__zigzag--top {
    display: block;
    position: relative;
    margin: -15px auto 0 auto;
    width: 768px;
    z-index: 2; } }

@media (min-width: 1150px) {
  .product-week {
    /*width: 1250px;*/
    min-height: 800px;
    background-image: none; }
  .product-week__wrapper {
    width: 1050px;
    padding: 0 50px;
    min-height: 715px;
    background-image: url("../../img/zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom; }
  .product-week__title {
    position: absolute;
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px; }
    .product-week__title span {
      margin-left: -630px; }
  .product-week__options {
    margin: 50px 0 0 0; }
  .product-week__image {
    width: 525px;
    height: 636px;
    background-image: url("../../img/triple-set-desktop.jpg"); }
  .product-week__flexelement--info {
    margin-top: 160px;
    margin-left: 175px; }
  .product-week__flexelement--submit {
    margin-left: 175px; }
  .product-week__zigzag--top {
    width: auto; } }

.about-us {
  min-height: 833px;
  width: 320px;
  margin: 0 auto; }

.about-us__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

.about-us__title {
  margin: 34px 0 0 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.about-us__list {
  padding: 0;
  list-style: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000; }

.about-us__item {
  width: 100%;
  min-height: 131px; }
  .about-us__item p {
    margin: 21px 0 0 0; }

.about-us__svg {
  display: block; }

.about-us__svg--eco,
.about-us__svg--like {
  margin-left: 7px; }

.about-us__svg--ball {
  margin-left: 5px; }

.about-us__svg--rocket {
  margin-left: -6px; }

@media (min-width: 768px) {
  .about-us {
    width: 768px;
    min-height: 655px; }
  .about-us__wrapper {
    width: 668px;
    padding: 0 50px; }
  .about-us__title {
    margin: 45px 0 0 0;
    font-size: 43px;
    line-height: 50px; }
  .about-us__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 40px; }
  .about-us__item {
    margin-top: 20px;
    width: 50%;
    min-height: 155px; }
    .about-us__item p {
      font-size: 20px;
      line-height: 22px; } }

@media (min-width: 1150px) {
  .about-us {
    width: 1250px;
    min-height: 690px; }
  .about-us__wrapper {
    width: 1050px;
    padding: 0 50px; }
  .about-us__title {
    margin-left: 175px;
    font-size: 53px;
    line-height: 57px; }
  .about-us__list {
    margin-left: 175px;
    width: 650px; } }

.reviews {
  min-height: 630px;
  margin: 0 auto;
  background-image: url("../../img/zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom; }

.reviews__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

.reviews-title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.reviews__list {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none; }

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 345px; }

.reviews__name {
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700; }

.reviews__id {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-decoration: none; }
  .reviews__id:hover, .reviews__id:focus {
    color: #63d1bb; }
  .reviews__id:active {
    opacity: 0.5; }

.reviews__text {
  margin: 0;
  line-height: 30px; }

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0 0 0;
  width: 100%;
  height: 52px; }

.slider__button {
  padding: 0;
  width: 50%;
  height: 100%;
  background: none;
  border: 1px solid #ececec;
  cursor: pointer; }
  .slider__button:hover, .slider__button:focus {
    opacity: 0.6; }
  .slider__button:active {
    opacity: 0.3; }

.slider__button--right {
  border-left: none;
  background-image: url("../../img/huge-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center; }

.slider__button--left {
  background-image: url("../../img/huge-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center; }

.reviews__button {
  display: block;
  margin: 30px 0 0 0;
  padding: 12px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #000000; }
  .reviews__button:hover, .reviews__button:focus {
    color: #ffffff;
    background-color: #444444;
    border-color: #444444; }
    .reviews__button:hover:active, .reviews__button:focus:active {
      color: #7c7c7c; }

@media (min-width: 768px) {
  .reviews {
    /*width: 768px;*/
    min-height: 525px;
    background-image: url("../../img/zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom; }
  .reviews__wrapper {
    width: 668px;
    height: 457px;
    padding: 0 50px;
    background: url("../../img/review.jpg") left no-repeat; }
  .reviews-title {
    display: block;
    padding: 80px 0 0 0;
    width: 180px;
    min-height: 55px;
    font-size: 43px;
    line-height: 50px; }
  .reviews__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    min-height: 240px; }
  .reviews__name {
    display: block;
    width: 260px;
    min-height: 60px;
    font-size: 19px; }
  .reviews__text {
    margin: 15px 0 0 0;
    font-size: 17px; }
  .slider__buttons {
    margin: -55px 0 0 auto;
    width: 167px;
    height: 55px; }
  .slider__button {
    border: none; }
  .reviews__button {
    margin: -325px 0 0 auto;
    padding: 13px 0;
    width: 174px; } }

@media (min-width: 1150px) {
  .reviews {
    background-image: none; }
  .reviews__wrapper {
    width: 1058px;
    min-height: 550px;
    padding: 0 50px;
    margin: -60px auto 0 auto;
    background-image: url("../../img/zigzag-line.svg"), url("../../img/review.jpg");
    background-repeat: repeat-x, no-repeat;
    background-position: bottom, left top; }
  .reviews-title {
    margin-left: 175px; }
  .reviews__item {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 175px;
    min-height: 184px; }
  .reviews__name {
    margin-top: -30px; }
  .reviews__text {
    margin: 0; }
  .reviews__button {
    margin: -270px 0 0 auto;
    padding: 13px 0;
    width: 174px; } }

.contacts {
  width: 320px;
  min-height: 900px;
  margin: 0 auto; }

.contacts__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

.contacts__title {
  margin: 0;
  padding: 55px 0 15px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000; }

.contacts__title--flag {
  display: none; }

.contacts__table {
  line-height: 30px; }
  .contacts__table td {
    padding: 12px 0;
    vertical-align: top; }
  .contacts__table .contacts__table--maillink,
  .contacts__table .contacts__table--adress {
    padding-left: 30px; }
  .contacts__table a {
    color: #444444;
    text-decoration: none;
    border-bottom: 1px solid #62d1ba; }
    .contacts__table a:hover, .contacts__table a:focus {
      color: #46c1ae;
      border-bottom: 1px solid #46c1ae; }
    .contacts__table a:active {
      opacity: 0.3; }

.contacts__map {
  margin-top: -540px;
  min-height: 457px;
  background-image: url("../../img/map-mobile.png");
  background-repeat: no-repeat;
  background-position: center; }

.contacts__button {
  display: block;
  margin: 510px 0 0 0;
  padding: 12px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #000000; }
  .contacts__button:hover, .contacts__button:focus {
    color: #ffffff;
    background-color: #444444;
    border-color: #444444; }
    .contacts__button:hover:active, .contacts__button:focus:active {
      color: #7c7c7c; }

@media (min-width: 768px) {
  .contacts {
    width: 768px;
    min-height: 900px; }
  .contacts__wrapper {
    width: 768px;
    padding: 0; }
  .contacts__wrapper--flexbox {
    width: 668px;
    padding: 0 50px; }
  .contacts__title {
    display: block;
    position: relative;
    margin: 0 0 30px 0;
    padding: 55px 0 0 0;
    font-size: 43px;
    line-height: 50px; }
  .contacts__title--flag {
    display: block;
    position: absolute;
    right: 0;
    top: 40px; }
  .contacts__table {
    width: 635px;
    font-size: 17px;
    line-height: 30px; }
    .contacts__table tbody {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .contacts__table tr {
      width: 300px; }
  .contacts__map {
    margin-top: -550px;
    background-image: url("../../img/map-tablet.png"); }
  .contacts__button {
    width: 226px;
    margin: 550px auto 0 auto; } }

@media (min-width: 1150px) {
  .contacts {
    width: 1250px;
    min-height: 570px; }
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 70px auto 0 auto;
    width: 1050px;
    padding: 0 50px; }
  .contacts__wrapper--flexbox {
    width: auto;
    padding: 0; }
  .contacts__title {
    display: block;
    margin-left: 175px;
    width: 265px;
    font-size: 53px;
    line-height: 57px; }
  .contacts__title--flag {
    left: -115px;
    top: 40px; }
  .contacts__table {
    margin-left: 175px;
    width: 305px; }
    .contacts__table tbody {
      display: table; }
  .contacts__map {
    display: none; }
  .contacts__map--desktop {
    width: 525px;
    height: 457px;
    background-image: url("../../img/map-desktop.png");
    background-repeat: no-repeat;
    background-position: 0 0; }
  .contacts__button {
    width: 226px;
    margin: 90px 0 0 175px; } }

.main-footer {
  /*width: 320px;*/
  min-height: 160px;
  margin: 0 auto;
  background-color: #f1f1f1; }

.main-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

.main-footer__logo {
  display: none; }

.social {
  border-bottom: 1px solid #e5e5e5; }

.social,
.copyright {
  min-height: 79.5px; }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding: 22.5px 0;
  width: 155px;
  min-height: 35px;
  list-style: none; }

.social__link {
  display: block;
  text-decoration: none;
  font-size: 1px;
  color: rgba(0, 0, 0, 0);
  width: 32px;
  height: 32px; }

.social__link--inst {
  background-image: url("../../img/insta.svg");
  background-repeat: no-repeat;
  background-position: center; }
  .social__link--inst:hover, .social__link--inst:focus {
    background-image: url("../../img/instahover.png");
    background-repeat: no-repeat;
    background-position: center; }
  .social__link--inst:active {
    opacity: 0.3; }

.social__link--fb {
  background-image: url("../../img/fb.svg");
  background-repeat: no-repeat;
  background-position: center; }
  .social__link--fb:hover, .social__link--fb:focus {
    background-image: url("../../img/fbhover.png");
    background-repeat: no-repeat;
    background-position: center; }
  .social__link--fb:active {
    opacity: 0.3; }

.social__link--tw {
  background-image: url("../../img/tw.svg");
  background-repeat: no-repeat;
  background-position: center; }
  .social__link--tw:hover, .social__link--tw:focus {
    background-image: url("../../img/twhover.png");
    background-repeat: no-repeat;
    background-position: center; }
  .social__link--tw:active {
    opacity: 0.3; }

.copyright__link {
  display: block;
  position: relative;
  padding: 20px 0;
  margin: 10px auto;
  width: 185px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700px;
  color: #000000;
  text-decoration: none; }
  .copyright__link .copyright__icon {
    display: block;
    position: absolute;
    margin-left: auto;
    width: 27px;
    height: 34px;
    right: 0;
    top: 12px;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    background-image: url("../../img/htmlacademy.png");
    background-repeat: no-repeat;
    background-position: center; }
  .copyright__link:hover .copyright__icon,
  .copyright__link:focus .copyright__icon {
    background-image: url("../../img/htmlacademy-hover.png"); }
  .copyright__link:active .copyright__icon, .copyright__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .main-footer {
    /*width: 768px;*/
    min-height: 143px; }
  .main-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 668px;
    padding: 50px 50px 0 50px; }
  .main-footer__logo {
    display: block; }
  .main-footer__logo--link {
    display: block;
    width: 110px;
    min-height: 45px;
    background: url("../../img/logo-footer.svg") center no-repeat; }
    .main-footer__logo--link:hover, .main-footer__logo--link:focus {
      background: url("../../img/logo-footer-hover.svg") center no-repeat; }
    .main-footer__logo--link:active {
      opacity: 0.3; }
  .social {
    margin-left: 150px;
    width: 156px;
    min-height: 52px;
    border: none; }
  .social__list {
    padding: 10px 0 0 0; }
  .copyright {
    margin-left: auto;
    width: 195px;
    min-height: 52px; }
  .copyright__link {
    padding: 5px 0 0 0; }
    .copyright__link .copyright__icon {
      top: -3px; } }

@media (min-width: 1150px) {
  .main-footer {
    /*width: 1250px;*/ }
  .main-footer__wrapper {
    width: 1050px;
    padding: 50px 50px 0 50px; }
  .social {
    margin-left: 335px; } }

@-webkit-keyframes popup-show {
  0% {
    top: -2500px; }
  100% {
    top: 25%; } }

@keyframes popup-show {
  0% {
    top: -2500px; }
  100% {
    top: 25%; } }

.modal {
  display: none;
  position: fixed;
  top: 25%;
  left: 7%;
  right: 7%;
  margin: 0 auto;
  width: 320px;
  min-height: 336px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 4;
  -webkit-animation: popup-show  0.4s;
  animation: popup-show  0.4s; }

.modal-close {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 0;
  top: 0;
  background: url("../../img/popup-close.svg") center no-repeat;
  border: none;
  cursor: pointer;
  outline: none; }

.modal-show {
  display: block; }

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3; }

.overlay-show {
  display: block; }

.modal__wrapper {
  margin: 0 auto;
  width: 260px;
  padding: 0 30px; }

.modal__title {
  margin: 0;
  padding: 33px 0 0 0;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center; }

.modal__text {
  text-align: center;
  margin: 20px 0; }

.modal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.modal__item label {
  display: block;
  padding: 12px 35px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: pointer; }
  .modal__item label:hover, .modal__item label:focus {
    border: 2px solid rgba(0, 0, 0, 0.3); }

.modal__item input[type="radio"]:checked ~ label {
  border: 2px solid #63d1bb; }

.modal__button {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  margin: 31px 0 0 0;
  width: 100%;
  min-height: 52px;
  border: none;
  background-color: #63d1bb; }
  .modal__button:hover, .modal__button:focus {
    background-color: #56c3b2; }
  .modal__button:active {
    color: #8be2d0;
    background-color: #239f8e; }

@media (min-width: 768px) {
  .modal-close {
    right: -40px; } }

.headline {
  min-height: 177px;
  text-align: center;
  background-color: #f1f1f1; }

.headline__title {
  margin: 0;
  padding: 73px 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700; }

@media (min-width: 768px) {
  .headline {
    min-height: 226px; }
  .headline__title {
    padding: 88px 0;
    font-size: 43px;
    line-height: 50px; } }

@media (min-width: 1150px) {
  .headline {
    min-height: 252px; }
  .headline__title {
    padding: 97px 0;
    font-size: 53px;
    line-height: 57px; } }

.catalog-products {
  min-height: 1828px; }

.catalog-products__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto; }

.catalog-products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog-products__item {
  position: relative;
  display: block;
  margin: 30px 0 0 0;
  min-height: 374px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .catalog-products__item:hover, .catalog-products__item:focus {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s; }

.catalog-products__img {
  height: 195px; }

.catalog-products__img--zaika {
  background: url("../../img/zaika-mobile.jpg") center no-repeat; }

.catalog-products__img--korzinka {
  background: url("../../img/korzinka-mobile.jpg") center no-repeat; }

.catalog-products__img--big-korzinka {
  background: url("../../img/big-korzinka-mobile.jpg") center no-repeat; }

.catalog-products__description {
  padding: 0 28px;
  min-height: 177px;
  border: 1px solid #ededed; }

.catalog-products__title {
  margin: 20px 0 5px 0; }
  .catalog-products__title a {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-decoration: none; }
    .catalog-products__title a:hover, .catalog-products__title a:focus {
      color: #63d1bb; }
    .catalog-products__title a:active {
      opacity: 0.2; }

.catalog-products__text {
  margin: 0;
  font-size: 13px;
  line-height: 30px; }

.catalog-products__price {
  margin: 21px 0 21px 0;
  padding: 25px 0 0 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  border-top: 1px solid #ededed; }

.catalog-products__inbasket {
  display: block;
  margin: -27px 0 0 auto;
  padding: 5px;
  width: 30px;
  height: 30px;
  background: url("../../img/cart.svg") center no-repeat;
  opacity: 0.2; }
  .catalog-products__inbasket:hover, .catalog-products__inbasket:focus {
    opacity: 1;
    background: url("../../img/cart11.svg") center no-repeat; }
  .catalog-products__inbasket:active {
    opacity: 0.2; }

.catalog-products__item-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 30px 0 0 0;
  border: 1px solid #ededed;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .catalog-products__item-video:hover, .catalog-products__item-video:focus {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }

.catalog-products__img-video {
  position: relative;
  height: 150px;
  background: url("../../img/video-mobile.png") center no-repeat; }
  .catalog-products__img-video::before {
    position: absolute;
    content: '';
    width: 105px;
    height: 85px;
    top: 33px;
    left: 80px;
    background: url("../../img/play.svg") center no-repeat;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  .catalog-products__img-video:hover::before, .catalog-products__img-video:focus::before {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .catalog-products__img-video:active::before {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    opacity: 0.3; }

.catalog-products__title-video {
  position: relative;
  display: block;
  margin: 25px 0;
  padding: 0 0 0 90px;
  width: 135px;
  min-height: 50px;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }
  .catalog-products__title-video::before {
    position: absolute;
    content: '';
    width: 45px;
    height: 35px;
    top: 5px;
    left: 23px;
    background: url("../../img/video.svg") center no-repeat; }

.catalog-products__description-video {
  padding: 0 40px 0 40px; }

.catalog-products__text-video {
  margin: 20px 0;
  font-size: 13px;
  line-height: 24px; }

.catalog-products__button-video {
  display: block;
  margin: 0 0 32px 0;
  padding: 16px 0;
  width: 100%;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444; }
  .catalog-products__button-video:hover, .catalog-products__button-video:focus {
    color: #ffffff;
    background-color: #444444; }
  .catalog-products__button-video:active {
    color: #7c7c7c; }
