
.main-header__wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-header__nav {
  position: relative;
}

.main-header__toggle {
  position: absolute;
  right: 28px;
  top: 28px;

  display: block;
  border: none;
  width: 23px;
  height: 23px;
  z-index: 2;
  cursor: pointer;
  outline: none;
  background: #ffffff;
}

.main-header__nav--opened .main-header__toggle::before {
  content: '';
  position: absolute;

  width: 23px;
  height: 23px;

  right: 0;
  top: 0;

  z-index: 3;
  background: url('../../img/menu-close.svg') center no-repeat;
}

.main-header__nav--closed .main-header__toggle::after {
  content: '';
  position: absolute;

  width: 23px;
  height: 23px;

  right: 0;
  top: 0;

  z-index: 4;
  background: url('../../img/menu-burger.svg') center no-repeat;
}

.main-header__list {
  margin: 0;
  padding: 0;

  //min-height: 395px;
  list-style: none;
}

.main-header__item {
  position: relative;
  min-height: 78px;
  border-bottom: 1px solid #ececec;
}

.main-header__item--delivery,
.main-header__item--new,
.main-header__item--sale {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

.main-header__item--logo {
  border: none;
}

.main-header__item--catalog {
  border-top: 1px solid #ececec;
}

/*ниже стилитолько для ссылок*/
.main-header__link {
  display: block;
  margin: 0 auto;
  padding: 26px;

  width: 175px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $title-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.5);
  }
  &:active {
    opacity: 0.3;
  }
}

.main-header__link--search-svg,
.main-header__link--basket-svg {
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;

  left: 28px;
  top: 27px;
  opacity: 0.2;
  path {
    fill: #000000;
  }
}

.main-header__link:hover > .main-header__link--search-svg,
.main-header__link:focus > .main-header__link--search-svg,
.main-header__link:hover > .main-header__link--basket-svg,
.main-header__link:focus > .main-header__link--basket-svg   {
  opacity: 1;
  path {
    fill: #63d1bb;
  }
}

.main-header__link:active ~ .main-header__link--search-svg,
.main-header__link:active ~ .main-header__link--basket-svg {
  opacity: 0.3;
}

  .main-header__link--logo {
    display: block;
    /*width: 100px;*/
    height: 44px;
    padding: 16px;
    margin: 0 auto;

    background-image: url('../../img/mishka-logo-mobile.svg');
    background-repeat: no-repeat;
    background-position: center center;
    &:hover,
    &:focus {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }

@media (max-width: $mobile-width-only) {
  .main-header__nav--closed .main-header__item {
    display: none;
    &--logo {
      display: block;
    }
  }

  .main-header__nav--nojs .main-header__toggle {
    display: none;
  }

  .main-header__nav--nojs .main-header__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    /*width: 768px;*/
    height: 88px;
    margin: 0 auto;
    border-bottom: 1px solid #ececec;
  }

  .main-header__wrapper {
    width: 668px;
    padding: 0 50px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__list {
    display: flex;
    flex-wrap: wrap;

    min-height: 150px;
  }

  .main-header__item {
    min-height: 88px;
    border: none;
  }

  .main-header__item--logo {
    order: -3;
    width: 320px;
  }

  // Установить порядок флекс элементов с помощью order
  .main-header__item--catalog{
    min-height: 62px;
    width: 167px;
  }

  .main-header__item--order {
    min-height: 62px;
    width: 167px;
  }

  .main-header__item--search {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    width: 81px;
    order: -2;
  }

  .main-header__item--basket {
    width: 264px;
    order: -1;
  }

  .main-header__item--delivery {
    position: static;
    margin-left: auto;
    min-height: 62px;
    width: 265px;
  }

  .main-header__delivery {
    margin: 20px 0 0 35px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }

  .main-header__link{
    padding: 0;
    width: auto;
  }

  .main-header__link--logo {
    width: 115px;
    height: 50px;
    margin: 15px auto 0 0;

    background-image: url('../../img/mishka-logo-tablet.svg');
  }

  .main-header__link--search {
    height: 32px;
    width: 32px;
    margin: 26px auto 0 auto;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    &:hover,
    &:focus,
    &:active {
      color: rgba(0, 0, 0, 0);
    }
  }

  .main-header__link--basket {
    width: 185px;
    height: 25px;
    margin: 31px 0 0 auto;
    padding-left: 55px;
  }

  .main-header__link--search-svg,
  .main-header__link--basket-svg {
    left: 30px;
    top: 30px;
  }

  .main-header__link--catalog,
  .main-header__link--order {
    font-size: 15px;
    margin: 20px 0 0 0;
    width: 145px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__wrapper {
    width: 1050px;
    padding: 0 50px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__list {
    width: 1050px;
  }

  .main-header__item--catalog {
    order: -10;
    width: 225px;
  }

  .main-header__item--logo {
    width: 150px;
  }

  .main-header__item--order {
    order: -9;
    width: 225px;
  }



  .main-header__item--search {
    margin-left: auto;
  }

  .main-header__item--new,
  .main-header__item--sale {
    position: static;

    min-height: 62px;
    width: 225px;
  }

  .main-header__link--new,
  .main-header__link--sale {
    margin: 20px 0 0 0;
    font-size: 15px;
    line-height: 24px;
  }

  .main-header__link--catalog,
  .main-header__link--order {
    font-size: 17px;
    margin: 31px 0 0 0;
    width: 145px;
  }
}
