
.main-header__wrapper {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
  .main-header__logo {
    display: block;
    color: #000000;
    text-decoration: none;
    min-height: 80px;
  }
  .main-header__nav {
    min-height: 315px;
    .main-header__list {
      margin: 0;
      padding: 0;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      list-style: none;


      /*ниже стилитолько для ссылок*/
      .main-header__link {
        display: block;
        min-height: 50px;

        padding-top: 28px;
        padding-left: 47px;

        font-size: 17px;
        line-height: 24px;
        font-weight: 700;
        color: $title-color;
        text-decoration: none;

        &:hover,
        &:focus {
          opacity: 0.6;
        }

        &:active {
          opacity: 0.3;
        }
      }
    }
  }
}

@media (min-width:$tablet-width) {
  .main-header {
    height: 88px;
  }

  .main-header__wrapper {
    position: relative;
    flex-direction: row;
    width: 668px;
    padding: 0 50px;
    .main-header__logo {
      width: 167px;
      height: 88px;
      margin-right: 157px;
    }
    .main-header__nav {
      min-height: 88px;
      .main-header__list {
        flex-direction: row;
        .main-header__link {
          min-height: 60px;
        }

        .main-header__link--catalog {
          position: absolute;
          padding-top: 14px;
          min-height: 35px;
          left: 4px;
          top: 88px;
        }
        .main-header__link--order{
          position: absolute;
          padding-top: 14px;
          min-height: 35px;
          left: 200px;
          top: 88px;
        }
        .main-header__link--basket {
          width: 265px;
        }
        .main-header__link--search {
          visibility: hidden;
        }
      }
    }
  }
}
