
.main-header__wrapper {
  width: 320px;
  /*padding: 0 30px;*/ // Убрал отступы по бокам
  margin: 0 auto;
}

.main-header__list {
  margin: 0;
  padding: 0;

  min-height: 395px;
  list-style: none;
}

.main-header__item {
  min-height: 78px;

  border-bottom: 1px solid #ececec;
}

.main-header__item--delivery,
.main-header__item--new,
.main-header__item--sale {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
}

/*ниже стилитолько для ссылок*/
.main-header__link {
  display: block;

  padding: 26px 0 0 76px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $title-color;
  text-decoration: none;
  &:hover,
  &:focus {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .main-header {
    width: 768px;
    height: 88px;
    margin: 0 auto;
    border-bottom: 1px solid #ececec;
  }

  .main-header__wrapper {
    width: 668px;
    padding: 0 50px;
  }

  .main-header__list {
    display: flex;
    flex-wrap: wrap;

    min-height: 150px;
  }

  .main-header__item {
    min-height: 88px;
    border: none;
  }

  .main-header__item--logo {
    order: -3;
    width: 320px;
  }

  // Установить порядок флекс элементов с помощью order
  .main-header__item--catalog{
    min-height: 62px;
    width: 167px;
  }

  .main-header__item--order {
    min-height: 62px;
    width: 167px;
  }

  .main-header__item--search {
    width: 83px;
    order: -2;
  }

  .main-header__item--basket {
    width: 264px;
    order: -1;
  }

  .main-header__item--delivery {
    position: static;
    margin-left: auto;
    min-height: 62px;
    width: 265px;
  }

  .main-header__delivery {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }

  .main-header__link{
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: 1250px;
  }

  .main-header__wrapper {
    width: 1050px;
    padding: 0 50px;
  }

  .main-header__list {
    width: 1050px;
  }

  .main-header__item--catalog {
    order: -10;
    width: 225px;
  }

  .main-header__item--logo {
    width: 150px;
  }

  .main-header__item--order {
    order: -9;
    width: 225px;
  }

  .main-header__item--basket {
    /*margin-left: auto;*/
  }

  .main-header__item--search {
    margin-left: auto;
  }

  .main-header__item--new,
  .main-header__item--sale {
    position: static;

    min-height: 62px;
    width: 225px;
  }

  .main-header__link--new,
  .main-header__link--sale {
    font-size: 15px;
    line-height: 24px;
  }
}
