.reviews {
  min-height: 630px;
  width: 320px;
  margin: 0 auto;
}

.reviews__wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

.reviews-title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $title-color;
}

.reviews__list {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
}

.reviews__item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  min-height: 345px;
}

.reviews__name {
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.reviews__id {
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #63d1bb;
  }
  &:active {
    opacity: 0.5;
  }
}

.reviews__text {
  margin: 0;
  line-height: 30px;
}

.slider__buttons {
  display: flex;
  margin: 35px 0 0 0;
  width: 100%;
  height: 52px;
}

.slider__button {
  padding: 0;
  width: 50%;
  height: 100%;

  border: none;
}

.reviews__button {
  display: block;
  margin: 30px 0 0 0;
  padding: 12px 0;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $title-color;
  text-decoration: none;

  text-align: center;

  background-color: #ffffff;
  border: 2px solid #000000;
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #444444;
    border-color: #444444;
    &:active {
      color: #7c7c7c;
    }
  }
}
